[submodule "kitty-themes"]
	path = .config/kitty/themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "alacritty-themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
