*.log
*.tar
Backups/
*.DS_Store
emacs-stuff/emacs-reveal/
*._
*.localized
.config/emacs/eln-cache
.config/emacs/elpaca
.config/emacs/transient
.config/emacs/url
.config/emacs/sessions
.config/emacs/auto-save-list
*.plstore