@define-color base00 #1B2229;
@define-color base01 #282c34;
@define-color base02 #202328;
@define-color base03 #23272e;
@define-color base04 #3f444a;
@define-color base05 #5B6268;
@define-color base06 #73797e;
@define-color base07 #DFDFDF;
@define-color base08 #ff6c6b;
@define-color base09 #da8548;
@define-color base0A #ECBE7B;
@define-color base0B #98be65;
@define-color base0C #4db5bd;
@define-color base0D #46D9FF;
@define-color base0E #c678dd;
@define-color base0F #a16946;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
	font-family: 'Jetbrains Mono Nerd', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
  color: @base04;
  background: @base01;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: @base05;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @base02;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base00;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @base02;
  border-radius: 4px;
  min-width: 20px;
}

#pulseaudio.muted {
  color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: transparent;
}

#temperature.critical {
  color: @base0F;
}

#window {
  font-size: 0.9em;
	font-weight: 400;
	font-family: sans-serif;
}
